a {
  color: #1E88E5;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #166dba;
  text-decoration: none;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
img {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: inherit;
  font-weight: 400;
  line-height: 1.5384616;
  color: inherit;
}
ul ul,
ol ul,
ul ol,
ol ol {
  margin-bottom: 0;
}

.dropup,
.dropdown {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 13px;
  text-align: left;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.5384616;
  color: #333333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #333333;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #2196F3;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #999999;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown-menu-right {
  left: auto;
  right: 0;
}
.dropdown-menu-left {
  left: 0;
  right: auto;
}
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.5384616;
  color: #333333;
  white-space: nowrap;
}
.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: "";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 2px;
}

.img-circle {
  border-radius: 50%;
}

.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}

  .navbar-left .dropdown-menu {
    left: auto;
    right: 0;
  }
  .navbar-right .dropdown-menu-left {
    left: 0;
    right: auto;
  }

.media-list {
  padding-left: 0;
  list-style: none;
}
.media,
.media-body {
  zoom: 1;
  overflow: hidden;
}
.media-body {
  width: 10000px;
  font-size: 12px;
}
.media-right,
.media > .pull-right {
  padding-left: 10px;
}
.media-left,
.media > .pull-left {
  padding-right: 10px;
}
.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 9px 15px;
}
.nav > li > a > img {
  max-width: none;
}
.media:first-child {
  margin-top: 0;
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  line-height: 1.5384616;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #999999;
  border-radius: 10px;
  margin-top: 8px;
}
  .navbar-left {
    float: left !important;
  }
  .navbar-right {
    float: right !important;
  }
  .navbar-right ~ .navbar-right {
    margin-right: 0;
  }

.media {
  margin-top: 15px;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 768px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
}
.navbar-nav > li > .dropdown-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 13px;
    padding-bottom: 13px;
  }
.pull-right {
  float: right !important;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.media-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
.badge:empty {
  display: none;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.text-muted {
  color: #999999;
}
[data-toggle="buttons"] > .btn input[type="radio"],
[data-toggle="buttons"] > .btn-group > .btn input[type="radio"],
[data-toggle="buttons"] > .btn input[type="checkbox"],
[data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
/*--  햄버거버튼  --*/
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
/*--  //햄버거버튼  --*/

/*--  Sidebar  --*/
.media {
  margin-top: 15px;
}
.media:first-child {
  margin-top: 0;
}
.media,
.media-body {
  zoom: 1;
  overflow: hidden;
}
/*--  //Sidebar  --*/

/*--  우측사이드바  --*/
.panel {
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
  padding: 20px 10px 10px 10px;
}
.panel-heading {
  padding: 10px 15px 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 15px;
  color: inherit;
}
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a {
  color: inherit;
}

/*--  페이징  --*/
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 3px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 7px 12px;
  line-height: 1.5384616;
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
  color: #333333;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #333333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  background-color: #456fce;
  border-color: #456fce;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #bbb;
  background-color: transparent;
  border-color: #ddd;
  cursor: not-allowed;
}

.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 6px 11px;
  font-size: 12px;
  line-height: 1.6666667;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

/*--  Tag  --*/
.bg-primary {
  color: #fff;
  background-color: #2196F3;
}
a.bg-primary:hover,
a.bg-primary:focus {
  background-color: #0c7cd5;
}

.icons-list {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1;
  font-size: 0;
}
.icons-list > li {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  font-size: 13px;
}
.icons-list > li:first-child {
  margin-left: 0;
}
.icons-list > li > a {
  color: inherit;
  display: block;
  opacity: 1;
  filter: alpha(opacity=100);
}
.icons-list > li > a:hover,
.icons-list > li > a:focus {
  opacity: 0.75;
  filter: alpha(opacity=75);
}
.icons-list > li > a > i {
  top: 0;
}
.icons-list > li > a > .caret {
  margin-top: 0;
  margin-bottom: 0;
}
.icons-list-extended > li {
  margin-left: 10px;
}
.caret {
  font-style: normal;
  font-weight: normal;
  border: 0;
  margin: 0;
  width: auto;
  height: auto;
  text-align: center;
  margin-top: -1px;
}
.caret:after {
  content: '\e9c5';
  font-family: 'icomoon';
  display: block;
  font-size: 16px;
  width: 16px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dropdown-menu {
  min-width: 180px;
  padding: 7px 0;
  color: #333333;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.dropdown-menu .divider {
  margin: 7px 0;
}
.dropdown-menu > li {
  position: relative;
  margin-bottom: 1px;
}
.dropdown-menu > li:last-child {
  margin-bottom: 0;
}
.dropdown-menu > li > a {
  padding: 8px 15px;
  outline: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav > li > a:focus {
  outline: 0;
}
.nav > li.disabled > a > .badge,
.nav > li.disabled > a > .label,
.nav > li.disabled > a > .status-mark,
.nav > li.disabled > a > img {
  opacity: 0.75;
  filter: alpha(opacity=75);
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent;
  border-color: transparent;
  color: #333333;
}
.navbar-nav {
  margin: 0;
  text-align: left;
}
.navbar-nav > li > a {
  padding-top: 13px;
  padding-bottom: 13px;
}
.navbar-nav > li > a > .label,
.navbar-nav > li > a > .badge {
  position: absolute;
  top: 0;
  right: 0;
}
.navbar-nav > li > a > .status-mark {
  position: absolute;
  top: 8px;
  right: 8px;
}
.navbar-nav > li > a > .status-mark-left {
  right: auto;
  left: 8px;
}
.navbar-nav > li > a > .label-left,
.navbar-nav > li > a > .badge-left {
  right: auto;
  left: 0;
}
.navbar-nav > li > a > .label-inline,
.navbar-nav > li > a > .badge-inline,
.navbar-nav > li > a > .status-mark-inline {
  position: static;
}
.navbar-nav .language-switch a > img {
  position: relative;
  top: -1px;
}
.navbar-nav > .dropdown-user > a,
.navbar-nav > .dropdown-user > a > span {
  padding-top: 4px;
  padding-bottom: 6.5px;
}
.navbar-nav > .dropdown-user > a > span {
  display: inline-block;
  padding-left: 7px;
}
.navbar-nav > .dropdown-user img {
  max-height: 60px;
  margin-top: -2.5px;
  border-radius: 50%;
}
@media (min-width: 769px) {
  .navbar-right {
    margin-right: 0;
  }
}
.dropdown-content-heading {
  padding: 20px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
}
.dropdown-content-heading + .dropdown-menu-body {
  padding-top: 0;
}
.dropdown-content-heading + .dropdown-header {
  padding-top: 0!important;
}
ul.dropdown-menu .dropdown-content-heading {
  padding-left: 15px;
  padding-right: 15px;
}
ul.dropdown-menu .dropdown-content-heading:first-child {
  padding-top: 13px;
  padding-bottom: 13px;
}
.dropdown-content-heading .icons-list {
  float: right;
}
.dropdown-content-footer {
  background-color: #fcfcfc;
  color: #333333;
  border-top: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.dropdown-content-footer a {
  display: block;
  padding: 7px;
  text-align: center;
  color: #333333;
}
.dropdown-content-footer a:hover,
.dropdown-content-footer a:focus {
  background-color: #f5f5f5;
}
.dropdown-content-footer a > i.display-block {
  top: 0;
}

.dropdown-content-body {
  padding: 20px;
}
.dropdown-content-heading + .dropdown-content-body {
  padding-top: 0;
}
.dropdown-content:not(ul) {
  padding-top: 0;
  padding-bottom: 0;
}
.dropdown-content .form-inline {
  white-space: nowrap;
}

.badge {
  padding: 2px 6px 1px 6px;
  font-size: 10px;
  letter-spacing: 0.1px;
  vertical-align: baseline;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 100px;
}
.btn .badge {
  top: 0;
}
.media {
  margin-top: 20px;
  position: relative;
}
.media,
.media-body {
  overflow: visible;
}
.media-left,
.media-right,
.media-body {
  position: relative;
}
.media-heading {
  margin-bottom: 2px;
  display: block;
}
.media-list {
  margin-bottom: 0;
}
.media-right,
.media > .pull-right {
  padding-left: 20px;
}
.media-left,
.media > .pull-left {
  padding-right: 20px;
}
.media-left img:not(.media-preview),
.media-right img:not(.media-preview),
.thumbnail .media img:not(.media-preview) {
  width: 40px;
  height: 40px;
  max-width: none;
}
.media-badge {
  position: absolute;
  left: -10px;
  top: -2px;
}
.media-badge,
.media-badge[class*=bg-] {
  border: 2px solid;
}
.width-350 {
min-width: 350px;
}
.img-sm {
  width: 36px!important;
  height: 36px!important;
}




.bg-blue {
  background-color: #03A9F4;
  border-color: #03A9F4;
  color: #fff;
}

.bg-warning-400 {
  background-color: #4493fe;
  border-color: #4493fe;
  color: #fff;
}

.bg-danger-400 {
  background-color: #EF5350;
  border-color: #EF5350;
  color: #fff;
}
