.exam-container {
	width: 100%;
	overflow: hidden;
}
.exam-top {
	width: 100%;
	height: 39px;
	background-color: #f4f4f4;
	border-bottom: 1px solid #ccc;
	padding: 6px 20px 6px 0;
	overflow: hidden;
}
.school-btn {
	width: 260px;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
}
button.btn-school {
	width: 62px;
    height: 26px;
	border: 1px solid #3d4758;
    background-color: #515b6d;
    font-size: 12px;
    color: #fff;
    line-height: 24px;
    text-align: center;
    display: inline-block;
	margin-right: -5px;
    transition: all 0.2s linear;
    cursor: pointer;
}
button.btn-school:hover {
	background-color: #586275;
}
button.btn-school.on {
	border: 1px solid #126ace;
	background-color: #126ace;
}
.l-cont {
    min-width: 260px;
    padding: 20px 0;
    overflow: hidden;
}
.school-year {
    text-align: center;
}
.school-year button.btn-year {
    background-color: #fff;
	border: 1px solid #bbb;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    width: 38px;
    font-size: 11px;
    color: #555;
    text-align: center;
    padding: 5px 0;
    margin: 0 -2px;
    display: inline-block;
}
.school-year button.btn-year:hover {
    background-color: #f1f1f1;
}
.school-year button.btn-year.on {
    background-color: #126ace;
	border: 1px solid #126ace;
	color: #fff;
}
.exam-slt {
	text-align: center;
    padding: 10px 20px;
}
.exam-slt select {
	width: 100%;
	background: url(/images/common/select_arrow.gif) no-repeat 96% 50%;
}
.exam-reg {
    text-align: center;
    padding: 0 20px;
}
.exam-reg button.btn-exam-reg {
	width: 100%;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    font-size: 13px;
    color: #333;
    text-align: center;
    padding: 8px 0;
}
.exam-reg button.btn-exam-reg:hover {
    background-color: #e1e1e1;
}
.q-tree {
    padding:0 20px;
    margin-top: 20px;
}
.q-tree-tt {
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    color: #222;
    font-weight: 500;
    text-align: left;
    padding-bottom: 6px;
    overflow: hidden;
}
.q-tree-code {
    font-size: 12px;
    margin-top: 10px;
}
.q-tree-code ul li {
    margin-right: 2px;
    vertical-align: middle;
    display: inline-block;
}
.q-tree-code ul li:last-child {
    margin-right: 0;
}
.q-tree-code ul li input.inp-code {
    width: 114px;
    font-size: 13px;
    text-align: center;
}
button.btn-code {
    height: 28px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    font-size: 13px;
    color: #333;
    text-align: center;
    padding: 0 10px;
}
.q-tree-body {
    margin-top: 6px;
}
.depth-menu {
	margin-left: 60px;
	vertical-align: middle;
	display: inline-block;
}
.depth-menu ul li {
	margin-right: 10px;
	display: inline-block;
}
button.btn-menu {
	background-color: #bbb;
	border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	padding: 6px 10px;
}
.r-cont {
	padding: 10px 0;
}
.exam-list-top {
	width: 100%;
	padding: 6px 30px 0 20px;
	text-align: left;
	overflow: hidden;
}
.exam-list-top ul.sort-l {
	width: 1024px;
	padding-top: 10px;
	float: left;
}
.exam-list-top ul.sort-l li {
	position: relative;
	margin-right: 14px;
	display: inline-block;
}
.exam-list-top ul.sort-l li.normal {
	color: #999;
	padding-left: 8px;
}
.exam-list-top ul.sort-l li.normal::before {
	content: "";
	position: absolute;
	top: 4px;
	left: 0;
	width: 5px;
	height: 5px;
	background-color: #bbb;
}
.exam-list-top ul.sort-l li.on {
	color: #008aff;
	padding-left: 16px;
}
.exam-list-top ul.sort-l li.on::before {
	content: "\ed6e";
	font-family: 'icomoon';
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 5px;
}
.exam-list-top ul.sort-r {
	float: right;
}
.exam-list-top ul.sort-r li {
	margin-right: 5px;
	vertical-align: middle;
	display: inline-block;
}
.exam-list-top .sort-ico {
	width: 30px;
	height: 26px;
	border: 1px solid #ddd;
	line-height: 24px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
}
.exam-list-top .sort-ico i {
	color: #ccc;
}
.exam-list-top .sort-ico.on {
	border: 1px solid #555;
}
.exam-list-top .sort-ico.on i {
	color: #333;
}
.exam-list-top .sort-ico i.icon-list-unordered {
	font-size: 16px;
}
.tbl-exam {
	padding-top: 6px;
}
table.exam-list {
	width: 100%;
}
table.exam-list th {
	width: auto !important;
	height: 30px;
	background-color: #aaa;
	border: 1px solid #fff;
	font-size: 12px;
	color: #fff;
	line-height: 1.2;
	text-align: center;
	padding: 6px 4px;
}
table.exam-list th.sort-num {
	width: 50px !important;
}
table.exam-list th.col-subject {
	width: 50px !important;
}
table.exam-list th .txt-col {
	color: #ffe57d;
}
table.exam-list td {
	height: 30px;
	background-color: #ddd;
	border: 1px solid #fff;
	font-size: 12px;
	color: #333;
	line-height: 1.2;
	text-align: center;
	padding: 6px 4px;
}
table.exam-list td .tipso_style {
	font-size: 12px;
	color: #333;
	cursor: pointer;
}
table.exam-list tr:nth-child(even) td {
	background-color: #eee;
}
table.exam-list td.txt-red {
	color: #f00;
}
table.exam-list td .q-view a {
	font-size: 12px;
	color: #333;
	text-decoration: underline;
}
.tbl-exam .tbl_paging {
	margin-top: 20px;
}
.exam-search {
	border-bottom: 1px solid #ddd;
	padding: 10px 10px 10px 20px;
}
.exam-search .search-l {
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 6px 6px 6px 10px;
	margin-right: 6px;
	margin-bottom: 6px;
	vertical-align: middle;
	display: inline-block;
}
.exam-search .search-l .checkbox {
	margin-right: 5px;
}
.exam-search .search-l ul li {
	margin-right: 6px;
	display: inline-block;
}
.exam-search .search-l ul li .input-date {
	position: relative;
}
.exam-search .search-l ul li .checkbox label {
	font-size: 11px;
}
.exam-search .search-l ul li .checkbox label::after {
	top:
}
.exam-search .search-btn {
	vertical-align: top;
	display: inline-block;
}
button.btn-exam-search {
	height: 42px;
	background-color: #999;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	font-size: 12px;
	color: #fff;
	padding: 0 16px;
	text-align: center;
}
.exam-search .search-l ul li input.inp-search {
	width: 130px;
}
.thumb-body {
	text-align: left;
	margin-left: 12px;
	margin-top: 8px;
}
.thumb-body ul li {
	width: 164px;
	margin: 0 7px 20px;
	float: left;
}
.thumb-body ul li span.thumb-box {
	width: 100%;
	height: 200px;
	background-color: #f5f2f5;
	border: 1px solid #ddd;
	display: block;
}
.thumb-body ul li span.thumb-txt {
	font-size: 12px;
	color: #333;
	margin-top: 8px;
	text-align: center;
	display: block;
}
.thumb-body ul li span.thumb-txt.dim {
	color: #bbb;
	text-decoration: line-through;
}
/*-- 문제등록 --*/
.q-reg {
	width: 1024px;
	border: 1px solid #ddd;
	overflow: hidden;
}
/*-- /문제등록 --*/

/*-- 툴팁 --*/
.tipso_bubble, .tipso_bubble > .tipso_arrow{
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}
.tipso_bubble {
    position: absolute;
	text-align: left;
    background-color: #4b4b4b !important;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	z-index: 9999;
}
.tipso_content {
 	word-break: keep-all;
    padding: 6px 8px 16px;
	font-size: 12px;
	color: #fff !important;
	line-height: 18px;
}
.tipso_bubble.right > .tipso_arrow {
	border-right-color: transparent;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: #000;
	top: 50%;
	right: 100%;
}
/*-- /툴팁 --*/

/*-- 단원및유형 --*/
.unit-slt {
	width: 100%;
	text-align: center;
	padding: 0 20px;
}
.unit-slt select {
	width: 100%;
	background: url(/images/common/select_arrow.gif) no-repeat 96% 50%;
}
.unit-tt {
	text-align: center;
    padding: 0 20px;
	margin-top: 20px;
}
.unit-tt-inner {
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    color: #222;
    font-weight: 500;
    text-align: left;
    padding-bottom: 6px;
    overflow: hidden;
}
.unit-info {
	text-align: center;
    padding: 0 20px;
	margin-top: 20px;
	margin-bottom: 30px;
}
.unit-info-inner {
	background-color: #e9e9e9;
	padding: 8px 0;
	font-size: 13px;
    color: #333;
	text-align: center;
}
.type-cont {
	padding: 10px 30px 0;
}
.type-tab {
	width: 100%;
	border-bottom: 1px solid #ccc;
	display: inline-block;
}
.type-tab ul li {
	position: relative;
    font-size: 15px;
    padding: 10px 10px;
    margin-right: 20px;
    float: left;
	cursor: pointer;
}
.type-tab ul li.on {
	color: #008de6;
}
.type-tab ul li.on::before {
	content: "";
    position: absolute;
    bottom: -1px;
    width: 100%;
    left: 0;
    border-bottom: 2px solid #0090ec;
}
.unit-body {
	padding: 30px;
	overflow: hidden;
}
.unit-panel {
	width: 43%;
	min-width: 400px;
	padding-right: 20px;
	vertical-align: top;
	display: inline-block;
}
.unit-slt-top {
	height: 24px;
	text-align: left;
}
.unit-slt-top ul li {
	font-size: 13px;
	display: inline-block;
}
.unit-slt-top ul li span {
	font-weight: 500;
}
.unit-slt-top ul li.slt-top-r {
	float: right;
}
button.expand-all {
	width: 65px;
	background-color: #aaa;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	padding: 8px 4px;
}
button.expand-all:hover {
	background-color: #999;
}
.unit-tree-list {
	margin-top: 10px;
}
.unit-tree-list span.fancytree-title {
	margin: 3px 0 0 3px;
}
.unit-tree-list .tree-top {
	background-color: #deebf7;
	border: 1px solid #b2bfcb;
	padding: 8px;
	overflow: hidden;
}
.unit-tree-list .tree-top ul li {
	margin-right: -4px;
	padding: 0 3px;
	vertical-align: middle;
	display: inline-block;
}
.unit-tree-list .tree-top ul li.top_input {
	width: 70%;
}
.unit-tree-list .tree-top ul li.top_input span {
	vertical-align: middle;
}
.unit-tree-list .tree-top ul li.top_select {
	width: 25%;
}
.unit-tree-list .tree-top ul li.top_btn {
	width: 15%;
}
.unit-tree-list .tree-top input.chapter_tt {
	width: 70%;
}
.unit-tree-list .tree-top ul li.top_select select {
	width: 100%;
	height: 28px;
}
.unit-tree-list .tree-top ul li.top-btn {
	float: right;
}
button.unit-save {
	height: 28px;
    background-color: #a3bbd2;
    border: 1px solid #596d89;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    font-size: 12px;
    color: #333;
    text-align: center;
    padding: 0 8px;
}
button.unit-save:hover {
	background-color: #86a3bf;
    border: 1px solid #596d89;
}
button.unit-cancel {
	height: 28px;
    background-color: #ccc;
    border: 1px solid #aaa;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    font-size: 12px;
    color: #333;
    text-align: center;
    padding: 0 8px;
}
button.unit-cancel:hover {
	background-color: #c2c2c2;
    border: 1px solid #aaa;
}
button.chapter-del {
    height: 28px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    font-size: 11px;
    color: #333;
    text-align: center;
    padding: 0 8px;
}
.unit-tree-list .tree_body {
	height: 400px;
	border: 1px solid #ccc;
	border-top: none;
    overflow: hidden;
    overflow-y: auto;
	padding: 0 15px;
}
.unit-tree-list .tree_body.tree-reg {
	height: 482px;
}
.unit-tree-list .tree-btm {
	background-color: #f6f6f6;
	border: 1px solid #ccc;
	border-top: none;
	padding: 8px;
}
.unit-tree-list .tree-btm ul li {
	margin-right: -4px;
	padding: 0 3px;
	vertical-align: middle;
	display: inline-block;
}
button.chapter-add {
	height: 28px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	font-size: 11px;
	color: #333;
	text-align: center;
	padding: 0 10px;
}
button.chapter-add i {
	font-size: 12px;
	color: #018fff;
}
.unit-list {
	width: 80%;
}
.unit-list .list-top {
	text-align: right;
}
.unit-list .list-top span {
	vertical-align: middle;
}
.unit-list .list-body {
	margin-top: 6px;
}
table.unit-list {
	width: 100%;
}
table.unit-list th {
	width: auto !important;
	height: 38px;
	background-color: #aaa;
	border: 1px solid #fff;
	font-size: 12px;
	color: #fff;
	line-height: 1.2;
	text-align: center;
	padding: 6px 8px;
}
table.unit-list td {
	height: 36px;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	font-size: 12px;
	color: #333;
	text-align: center;
	padding: 6px 8px;
}
table.unit-list td.txt-l {
	text-align: left;
}
table.unit-list td .ico {
	margin: 0 5px;
    cursor: pointer;
    display: inline-block;
}
.unit-list-btm {
	margin-top: 10px;
}
.unit-list-btm ul li.btm-l {
	float: left;
}
.unit-list-btm ul li.btm-r {
	float: right;
}
.detail-opt {
	background-color: #eee;
	border: 1px solid #ccc;
	border-top: none;
	padding: 4px 10px;
	overflow: hidden;
}
.detail-opt .checkbox label {
	vertical-align: top;
}
.detail-opt span {
	vertical-align: middle;
}
.detail-opt ul li.opt-l {
	padding-top: 6px;
	float: left;
}
.detail-opt ul li.opt-r {
	float: right;
}
input.unit-limit {
	width: 40px;
	text-align: center;
}
.unit-move {
	padding: 250px 20px 0 0;
	display: inline-block;
}
.unit-move i.icon-arrow-right14 {
	font-size: 30px;
	color: #fff;
}
button.btn-move {
	background-color: #acc7e5;
	border: 1px solid #6da6d9;
	padding: 8px 4px 6px 10px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	font-size: 15px;
	color: #222;
}
button.btn-move:hover {
	background-color: #6da6d9;
	border: 1px solid #6da6d9;
}
.type-reg-btm {
	width: 86%;
	margin-top: 10px;
	margin-left: 82px;
	text-align: right;
	overflow: hidden;
}
.tree-btm-tt {
	padding-left: 5px;
}
/*-- /단원및유형 --*/

/*-- 분류관리 --*/
.cate-body {
	width: 100%;
}
.cate-grp {
	width: 400px;
	padding: 20px 20px;
	overflow: hidden;
}
.cate-tt {
	height: 30px;
	background-color: #7e95a6;
	font-size: 14px;
	color: #fff;
	line-height: 28px;
	text-align: center;
	margin-bottom: 10px;
}
.cate-reg {
	overflow: hidden;
}
.cate-reg ul li.reg-l {
	width: 80%;
	float: left;
}
.cate-reg ul li.reg-l input.inp-cate {
	width: 100%;
}
.cate-reg ul li.reg-l input.inp-subject {
	width: 60%;
}
.cate-reg ul li.reg-r {
	width: 20%;
	padding-left: 10px;
	float: right;
}
button.btn-cate-reg {
	width: 100%;
	height: 28px;
    background-color: #aaa;
    border: 1px solid #aaa;
    border-radius: 2px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding: 0 16px;
}
button.btn-cate-reg:hover {
	background-color: #9f9f9f;
    border: 1px solid #9f9f9f;
}
.cate-list {
	margin-top: 8px;
}
table.tbl-cate {
	width: 100%;
}
table.tbl-cate th {
	height: 36px;
	border-bottom: 1px solid #888;
	border-top: 1px solid #ccc;
	background-color: #eee;
	font-size: 13px;
	color: #333;
	font-weight: normal;
	padding: 6px 10px;
}
table.tbl-cate td {
	height: 38px;
	border-bottom: 1px solid #ccc;
	font-size: 13px;
	color: #333;
	line-height: 1.2;
	padding: 6px 10px;
	text-align: center;
	word-break: keep-all;
}
table.tbl-cate td span.ico {
	cursor: pointer;
}
table.tbl-cate td span.up-dn {
	margin: 0 1px;
	cursor: pointer;
}
table.tbl-cate td i.fa-long-arrow-down, i.fa-long-arrow-up {
	color: #777;
}
.cate-tab {
	padding: 0 20px;
}
.cate-tab-inner {
	width: 100%;
	border-bottom: 1px solid #ccc;
	display: inline-block;
}
.cate-tab-inner ul li {
	position: relative;
    font-size: 15px;
    padding: 10px 10px;
    margin-right: 20px;
    float: left;
	cursor: pointer;
}
.cate-tab-inner ul li.on {
	color: #008de6;
}
.cate-tab-inner ul li.on::before {
	content: "";
    position: absolute;
    bottom: -1px;
    width: 100%;
    left: 0;
    border-bottom: 2px solid #0090ec;
}
/*-- /분류관리 --*/
