/*--  우측사이드바  --*/
.panel {
  margin-bottom: 10px;
  border-color: #ddd;
  color: #333333;
  margin-left:10px;
  margin-right:10px;
}
.panel[class*=bg-] > .panel-heading {
  border-color: rgba(255, 255, 255, 0.2);
}
.panel-flat > .panel-heading + .tab-content > .has-padding {
  padding-top: 0;
}
.panel[class*=bg-].panel-flat > .panel-heading {
  border-bottom-color: transparent;
}
.panel-flat > .panel-heading + .panel-body {
  padding-top: 0;
  margin:0 7px;
}
.panel-flat > .panel-heading {
  background-color: #fff;
}
.panel-flat > .panel-heading > .panel-title {
  margin-top: 2px;
  margin-bottom: 2px;
}
.panel-flat[class*=bg-] > .panel-heading {
  background-color: inherit;
}
.panel-heading {
  position: relative;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.panel-title {
  position: relative;
  font-size: 14px;
  font-weight:600;
  text-align:left;
}
a.panel-title {
  display: block;
}

.icons-list a[data-action] {
  vertical-align: middle;
  -webkit-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
.icons-list a[data-action]:after {
  font-family: 'icomoon';
  font-size: 16px;
  min-width: 16px;
  text-align: center;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icons-list a[data-action="collapse"]:after {
  content: '\e9c1';
}