/* reset */
html, body, div, span, object, figure, figcaption, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, address, big, cite, code, del, dfn, em, img, ins, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, textarea, input {padding:0; margin:0; border:0;}
a {text-decoration:none; cursor:pointer;}
em {font-style:normal;}
a:hover,a:visited,a:action,a:link {text-decoration:none;}
table {border-spacing:0; border-collapse:collapse;}
table tr { display: table-row;}
table td { display: table-cell;}
ol,ul,li {list-style:none; text-decoration:none;}
hr {display:none;}
fieldset {border:none;}
fieldset legend {display:none;}
blockquote, q {quotes:none;}
button {border:none; cursor: pointer;}
/* html5 */
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption, canvas, summary {display:block;}
