/* 사이드navi st */
.sidebar {
  width: 230px;
  background-color: #fff;
  color: #222;
  border-right: 1px solid #aaa;
  position: relative;
  display: table-cell;
  vertical-align: top;
}
.sidebar-main {
  z-index: 99;
}
.sidebar-secondary {
  z-index: 98;
}
.sidebar-opposite {
  display: none;
  z-index: 97;
}
.sidebar-content {
  position: relative;
  padding-bottom: 8px;
}
.sidebar-all-hidden .sidebar-main,
.sidebar-all-hidden .sidebar-secondary,
.sidebar-main-hidden .sidebar-main,
.sidebar-detached-hidden .sidebar-detached > .sidebar,
.sidebar-secondary-hidden .sidebar-secondary {
  display: none;
}
.category-title {
  position: relative;
  margin: 0;
  padding: 12px 20px;
  padding-right: 46px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.category-title > span {
  display: block;
  margin-top: 2px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 11px;
  line-height: 1.82;
}
.category-title > i {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -8px;
}
.category-title .icons-list {
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -8px;
}
.sidebar-default .category-title {
  border-bottom-color: #ddd;
}
.category-content {
  position: relative;
}
.navigation {
  margin: 0;
  padding: 10px 0;
  list-style: none;
  position: relative;
}
.sidebar-user + .sidebar-category .navigation {
  padding-top: 0;
}
.navigation .hidden-ul {
  display: none;
}
.navigation li {
  position: relative;
}
.navigation li + li {
  margin-top: 1px;
}
.navigation li + .navigation-header {
  margin-top: 10px;
}
.navigation li a {
  font-size: 13px;
  color: #222;
  display: block;
  -webkit-transition: background 0.15s linear, color 0.15s linear;
  -o-transition: background 0.15s linear, color 0.15s linear;
  transition: background 0.15s linear, color 0.15s linear;
}
.navigation li a:hover,
.navigation li a:focus {
  background-color: rgba(0, 0, 0, 0.05);
  color: #222;
}
.navigation li a > i {
  float: left;
  top: 0;
  margin-top: 2px;
  margin-right: 15px;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.navigation li a > i.pull-right {
  margin-right: 0;
  margin-left: 15px;
}
.navigation li.disabled > a,
.navigation li.disabled > a:hover,
.navigation li.disabled > a:focus {
  color: inherit;
  background-color: transparent;
  cursor: not-allowed;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.navigation li > .has-ul {
  position: relative;
}
.navigation li > .has-ul:after {
  content: "\e9c7";
  font-family: "icomoon";
  font-size: 16px;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 20px;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
}
.navigation li.active > .has-ul:after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.navigation li.navigation-divider {
  margin: 10px 0;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}
.sidebar-default .navigation li.navigation-divider {
  background-color: #eeeeee;
}
.navigation > li > a {
  min-height: 40px;
  padding: 14px 20px;
  font-size: 13px;
  font-weight: 400;
}
.navigation > li.active > a,
.navigation > li.active > a:hover,
.navigation > li.active > a:focus {
  background-color: #32937d;
  color: #fff;
}
.navigation > li.on a {
    background-color: #32937d;
    color: #fff;
}
.navigation > li.active > a > [class*=text-] {
  color: #fff;
}
.navigation > li.active > a .label,
.navigation > li.active > a .badge {
  background-color: transparent;
  border-color: transparent;
  color: #fff;
  -webkit-transition: background-color ease-in-out 0.2s;
  -o-transition: background-color ease-in-out 0.2s;
  transition: background-color ease-in-out 0.2s;
}
.navigation > li ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
}
.navigation > li ul li a {
  padding: 10px 20px;
  padding-left: 48px;
  min-height: 34px;
}
.navigation > li ul .navigation-header {
  padding-left: 51px;
}
.navigation > li > ul > li > ul > li > a,
.navigation > li > ul > li > ul > .navigation-header {
  padding-left: 71px;
}
.navigation > li > ul > li > ul > li > ul > li > a,
.navigation > li > ul > li > ul > li > ul .navigation-header {
  padding-left: 91px;
}
.navigation > li > ul li:first-child {
  padding-top: 0;
}
.navigation > li > ul li:last-child {
  padding-bottom: 14px;
}
.navigation > li > ul li.active > a,
.navigation > li > ul li.active > a:hover,
.navigation > li > ul li.active > a:focus {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.navigation .navigation-header {
  min-height: 30px;
  padding: 10px 20px;
  border-bottom: 0;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1.82;
}
.navigation .navigation-header > span {
  display: block;
  margin-top: 2px;
}
.navigation .navigation-header > i {
  display: none;
}
.navigation .navigation-header > i.pull-right {
  margin-top: 2px;
}
.navigation .navigation-header,
.navigation .navigation-header a {
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
}
.navigation .navigation-header a:hover,
.navigation .navigation-header a:focus {
  color: #fff;
}
.navigation .navigation-header a i {
  float: none;
  margin: 0;
}
.sidebar-default .navigation .navigation-header,
.sidebar-default .navigation .navigation-header a {
  color: #999999;
}
.sidebar-default .navigation .navigation-header a:hover,
.sidebar-default .navigation .navigation-header a:focus {
  color: #333333;
}
.navigation.nav > .active > .hidden-ul {
  display: block;
}
.navigation .label,
.navigation .badge {
  float: right;
}
.sidebar-default .navigation li > a {
  color: #333333;
}
.sidebar-default .navigation li > a:hover,
.sidebar-default .navigation li > a:focus {
  background-color: #f8f8f8;
}
.sidebar-default .navigation li.active > a,
.sidebar-default .navigation li.active > a:hover,
.sidebar-default .navigation li.active > a:focus {
  background-color: #f5f5f5;
  color: #333333;
}
.sidebar-default .navigation li.active > a > [class*=text-] {
  color: #333333;
}
.sidebar-default .navigation li.disabled > a,
.sidebar-default .navigation li.disabled > a:hover,
.sidebar-default .navigation li.disabled > a:focus {
  background-color: transparent;
}
.sidebar-default .navigation li .label-transparent {
  color: #333333;
}
.sidebar-default .navigation > li ul {
  background-color: transparent;
}
.sidebar-default .navigation > li.active > a,
.sidebar-default .navigation > li.active > a:hover,
.sidebar-default .navigation > li.active > a:focus {
  background-color: #f5f5f5;
  color: #333333;
}
.sidebar-default .navigation > li.active > a .label-transparent {
  color: #333333;
}
.navigation-icons-right > li > a,
.navigation-icons-right > li > a.has-ul {
  padding-right: 20px;
}
.navigation-icons-right > li > a > i {
  float: right;
  margin-right: 0;
  margin-left: 15px;
}
.navigation-icons-right > li > a.has-ul:after,
.navigation-icons-right > li.active > .has-ul:after {
  content: none;
}
.navigation-bordered > li {
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}
.navigation-bordered > li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.navigation-bordered > li.navigation-header {
  background-color: rgba(0, 0, 0, 0.1);
}
.navigation-bordered > li + li {
  margin-top: 0;
}
.navigation-bordered > li ul {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navigation-bordered li + .navigation-header {
  margin-top: 0;
}
.sidebar-default .navigation-bordered > li {
  border-top: 1px solid #eeeeee;
}
.sidebar-default .navigation-bordered > li.navigation-header {
  background-color: #fafafa;
}
.navigation-lg > li > a,
.navigation-lg > li > a > span {
  padding-top: 14px;
  padding-bottom: 14px;
  min-height: 48px;
}
.navigation-lg > li ul li a {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 40px;
}
.navigation-sm > li > a,
.navigation-sm > li > a > span {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 40px;
}
.navigation-sm > li ul li a {
  padding-top: 6px;
  padding-bottom: 6px;
  min-height: 32px;
}
.navigation-xs > li > a,
.navigation-xs > li > a > span {
  padding-top: 8px;
  padding-bottom: 8px;
  min-height: 36px;
}
.navigation-xs > li ul li a {
  padding-top: 6px;
  padding-bottom: 6px;
  min-height: 32px;
}
/* 사이드navi ed */

.total-top {
    width: 100%;
    height: 39px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
    padding: 6px 20px;
    overflow: hidden;
}
.cont_top {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 15px 30px;
}
/*-- 직급관리 --*/
.staff-body {
    padding: 30px 30px;
}
.staff_cont {
	width: 600px;
}
.staff_make {
	text-align: right;
}
.staff_make ul li {
	margin-left: 15px;
	display: inline-block;
}
.staff_make ul li span {
	vertical-align: middle;
}
.staff_make ul li .radio {
	margin-left: 10px;
	margin-top: -3px;
}
.staff_make ul li .radio label::before {
	top: 4px;
}
.staff_make ul li .radio label::after {
	top: 7px;
}
button.btn_make {
	height: 28px;
	background-color: #aaa;
	border: 1px solid #aaa;
	border-radius: 2px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	padding: 0 16px;
}
button.btn_make:hover {
    background-color: #a1a1a1;
	border: 1px solid #a1a1a1;
}
.staff_list {
	margin-top: 10px;
}
table.tbl_staff {
	width: 100%;
}
table.tbl_staff .col_no {
	width: 40px;
}
table.tbl_staff .col_btn {
	width: 45px;
}
table.tbl_staff th {
	height: 42px;
	border-bottom: 1px solid #888;
	border-top: 1px solid #ccc;
	background-color: #fff;
	font-weight: normal;
	line-height: 1.2;
	padding: 6px 6px;
}
table.tbl_staff td {
	height: 38px;
	border-bottom: 1px solid #ccc;
	font-size: 12px;
	color: #333;
	line-height: 18px;
	padding: 6px 6px;
	text-align: center;
}
table.tbl_staff td.txt_blue {
	color: #007eff;
}
table.tbl_staff td .ico {
    margin: 0 5px;
    cursor: pointer;
    display: inline-block;
}
/*-- /직급관리 --*/

/*-- 권한관리 --*/
.setup-body {
    padding: 30px 30px;
}
.setup-cont {
    max-width: 90%;
    min-width: 1100px;
}
.setup-cont .set-group {
    text-align: left;
}
.setup-cont .set-group button.btn-group {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
    font-size: 12px;
    color: #333;
    text-align: center;
    padding: 5px 16px;
    margin-right: 4px;
    display: inline-block;
}
.setup-cont .set-group button.btn-group:hover {
    background-color: #eee;
}
.setup-cont .set-group button.btn-group.on {
    background-color: #126ace;
    border: 1px solid #126ace;
    color: #fff;
}
.setup-cont .set-group button.btn-group:last-child {
    margin-right: 0;
}
.setup-cont .group-add {
    margin-top: 15px;
}
.setup-cont .group-add ul li {
    display: inline-block;
}
.setup-cont .group-add span {
    font-size: 12px;
    vertical-align: middle;
    display: inline-block;
}
.setup-cont .group-add button.btn-add {
    height: 26px;
    background-color: #aaa;
    border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding: 0 14px;
    margin-right: 2px;
    vertical-align: middle;
    display: inline-block;
}
.setup-cont .group-add button.btn-add:hover {
    background-color: #a2a2a2;
}
.set-user {
    width: 100%;
    margin-top: 20px;
}
.set-user-tt {
    height: 32px;
    background-color: #aaa;
    font-size: 14px;
    color: #fff;
    line-height: 30px;
    text-align: center;
}
.set-chk {
    border: 1px solid #aaa;
    padding: 25px 25px;
    overflow: hidden;
}
.accessList{ height:auto;overflow:hidden;}
.accessList dt{width:100%;height:auto;float:left;}
.accessList dt span{float:left;width:128px;height:35px;line-height:36px;text-align:center;color:#fff;background:#2e74c5;overflow:hidden;border-radius:3px;}
.accessList dt span.bx{cursor:pointer;float:left; width:128px; height:32px; line-height: 30px;text-align:center;color:#555;background:#fff; border: 1px solid #d1d3d7; overflow:hidden;border-radius:2px;}
.accessList dt span.bx.on{background:#2f83c6; border: 1px solid #2f83c6; color:#fff;}
.accessList dt select{float:left;margin-left:5px;margin-top:2px;background:url(../images/bullet/select_arrow.gif) no-repeat 95% 50%; background-color: #FFF;}
.accessList dd{position:relative;width:100%;height:auto;float:left;margin-top:10px;margin-bottom:10px;}
.accessList dd:before{content:"";width:1px;height:25px;overflow:hidden;display:block;background:#ccc;position:absolute;left:25px;top:-10px;}
.accessList dd:after{content:"";width:300px;height:1px;overflow:hidden;display:block;background:#ccc;position:absolute;left:25px;top:14px;}
.accessList dd.line01:after{width:150px;}
.accessList dd.line02:after{width:400px;}
.accessList dd.line02:before{height:95px;}
.accessList dd ul{;margin-left:50px; display: table;}
.accessList dd.line02>ul.lineType01{position:relative;}
.accessList dd.line02>ul.lineType01:after{content:"";width:650px;height:1px;overflow:hidden;display:block;background:#ccc;position:absolute;left:-25px;top:14px;}

.accessList dd.line02>ul.lineType3{position:relative;}
.accessList dd.line02>ul.lineType3:after{content:"";width: 450px;height:1px;overflow:hidden;display:block;background:#ccc;position:absolute;left:-25px;top:14px;}

.accessList dd ul li{float:left;margin:0 6px;}
.accessList dd ul li .bx{cursor:pointer;z-index:2;position:relative;font-size:11px;float:left;width: auto;height:30px;line-height:28px;text-align:center;color:#555;background:#fff; border: 1px solid #d1d3d7; overflow:hidden;border-radius:2px; padding: 0 6px;}
.accessList dd ul li .bx.on{background:#57b1ac; border: 1px solid #57b1ac; color:#fff;}
.accessList dd ul li .bx.wh{background:#FFF;color:#555; border: 1px solid #CCC;}
.accessList dd ul li>ul{margin-left:10px;width:500px;}

.accessList dd ul li>ul>li{margin-bottom:10px;}
.accessList dd ul li>ul>li>.bx{cursor:pointer;font-size:11px;float:left;width:90px;height:25px; line-height: 24px;text-align:center;color:#555;background:#fff; border: 1px solid #d1d3d7; overflow:hidden;border-radius:2px;}
.accessList dd ul li>ul>li>.bx.on{background:#999; border: 1px solid #999; color:#fff;}
.accessList dd ul li>ul>li>.bx.wh{background:#FFF;color:#555; border: 1px solid #CCC;}

.accessList dd ul li.type01{position:relative;}
.accessList dd ul li.type01>ul{margin-left:10px;width:500px;position:absolute;left:20px;top:40px;}
.accessList dd ul li.type01>ul>li>.bx{width:auto;padding:0 10px;}

.accessList dd ul li.type01>ul.lineType02{}
.accessList dd ul li.type01>ul.lineType02:before{content:"";width:1px;height:25px;overflow:hidden;display:block;background:#ccc;position:absolute;left:-14px;top:-10px;}
.accessList dd ul li.type01>ul.lineType02:after{content:"";width:370px;height:1px;overflow:hidden;display:block;background:#ccc;position:absolute;left:-14px;top:14px;}

.accessList dd ul li.type03>ul.lineType03{}
.accessList dd ul li.type03>ul.lineType03:before{content:"";width:1px;height:0;overflow:hidden;display:block;background:#ccc;position:absolute;left: 75px ;top: 23px;}
.accessList dd ul li.type03>ul.lineType03:after{content:"";width: 450px;height:1px;overflow:hidden;display:block;background:#ccc;position:absolute;left: 75px;top: 49px;}

.set-bottom {
    width: 100%;
    text-align: right;
    margin-top: 10px;
}
button.btn-set-apply {
    width: 80px;
    height: 32px;
    background-color: #be2323;
    border-radius: 2px;
    font-size: 13px;
    color: #fff;
    text-align: center;
    margin-right: 1px;
}
button.btn-set-apply:hover {
    background-color: #aa0e0e;
}
button.btn-set-cancel {
    width: 80px;
    height: 32px;
    background-color: #aaa;
    border-radius: 2px;
    font-size: 13px;
    color: #fff;
    text-align: center;
    margin-left: 1px;
}
button.btn-set-cancel:hover {
    background-color: #a1a1a1;
}
/*-- /권한관리 --*/

/*-- 회원관리 --*/
.member-body {
    padding: 30px 30px;
}
.member-cont {
	width: 90%;
}
.member-list-top {
    width: 100%;
    text-align: right;
}
.member-list-top ul li {
    margin-left: 4px;
    vertical-align: middle;
    display: inline-block;
}
button.member-search {
    height: 28px;
    background-color: #999;
    border-radius: 2px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding: 0 15px;
}
button.member-search:hover {
    background-color: #8f8f8f;
}
.member-list-tbl {
    margin-top: 5px;
}
table.tbl-member-list {
    width: 100%;
}
table.tbl-member-list th {
    height: 42px;
    border-bottom: 1px solid #999;
    border-top: 1px solid #ccc;
    background-color: #fff;
    font-weight: normal;
    line-height: 1.2;
    padding: 6px 6px;
}
table.tbl-member-list td {
    height: 38px;
    border-bottom: 1px solid #d4d4d4;
    font-size: 12px;
    color: #333;
    line-height: 18px;
    padding: 6px 6px;
    text-align: center;
}
table.tbl-member-list td a {
    color: #333;
    text-decoration: underline;
}
button.member-leave {
    height: 20px;
    background-color: #aaa;
    border-radius: 2px;
    font-size: 11px;
    color: #fff;
    text-align: center;
    padding: 0 6px;
}
button.member-leave:hover {
    background-color: #a1a1a1;
}
button.member-add {
    height: 26px;
    background-color: #c82f2f;
    border-radius: 2px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding: 0 12px;
}
button.member-add:hover {
    background-color: #b82b2b;
}
.member-list-btm {
    margin-top: 10px;
}
.member-list-btm ul li.btm-l {
    float: left;
}
.member-list-btm ul li.btm-r {
    float: right;
}
table.tbl-mem-detail {
    width: 100%;
}
table.tbl-mem-detail tr:first-child td {
    border-top: 1px solid #999;
}
table.tbl-mem-detail td {
    height: 40px;
    font-size: 12px;
    color: #333;
    border-bottom: 1px solid #ccc;
    padding: 6px 15px;
}
table.tbl-mem-detail td span {
    vertical-align: middle;
    margin: 0 1px;
    display: inline-block;
}
table.tbl-mem-detail td span.file_input {
    display: block;
}
table.tbl-mem-detail td span.file_input input[type=text] {
    width: 60%;
}
table.tbl-mem-detail td.col-tt {
    background-color: #eee;
    text-align: right;
}
table.tbl-mem-detail td input.inp-email {
    width: 363px;
}
table.tbl-mem-detail td input.inp-zipcode {
    width: 100px;
}
table.tbl-mem-detail td input.inp-add {
    width: 300px;
}
button.id-same {
    height: 28px;
    background-color: #aaa;
    border-radius: 2px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    padding: 0 12px;
}
button.id-same:hover {
    background-color: #a1a1a1;
}
.member-detail-btm {
    width: 100%;
    text-align: right;
    margin-top: 15px;
}
/*-- /회원관리 --*/
