.exam-container {
	width: 100%;
	overflow: hidden;
}
.exam-top {
	width: 100%;
	height: 39px;
	background-color: #f4f4f4;
	border-bottom: 1px solid #ccc;
	padding: 6px 20px 6px 0;
	overflow: hidden;
}
.school-btn {
	width: 260px;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
}
button.btn-school {
	width: 62px;
    height: 26px;
	border: 1px solid #3d4758;
    background-color: #515b6d;
    font-size: 12px;
    color: #fff;
    line-height: 24px;
    text-align: center;
    display: inline-block;
	margin-right: -5px;
    transition: all 0.2s linear;
    cursor: pointer;
}
button.btn-school:hover {
	background-color: #586275;
}
button.btn-school.on {
	border: 1px solid #126ace;
	background-color: #126ace;
}
.l-cont {
    min-width: 260px;
    padding: 20px 0;
    overflow: hidden;
}
.school-year {
    margin-bottom: 20px;
    text-align: center;
}
.school-year button.btn-year {
    background-color: #fff;
	border: 1px solid #bbb;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    width: 38px;
    font-size: 11px;
    color: #555;
    text-align: center;
    padding: 5px 0;
    margin: 0 -2px;
    display: inline-block;
}
.school-year button.btn-year:hover {
    background-color: #f1f1f1;
}
.school-year button.btn-year.on {
    background-color: #126ace;
	border: 1px solid #126ace;
	color: #fff;
}
.exam-reg {
    text-align: center;
    padding: 0 20px;
}
.exam-reg button.btn-exam-reg {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    width: 100%;
    font-size: 13px;
    color: #333;
    text-align: center;
    padding: 8px 0;
}
.exam-reg button.btn-exam-reg:hover {
    background-color: #e9e9e9;
}
.q-tree {
    padding:0 20px;
    margin-top: 20px;
}
.q-tree-tt {
    border-bottom: 1px solid #31b0df;
    font-size: 14px;
    color: #222;
    font-weight: 500;
    text-align: left;
    padding-bottom: 6px;
    overflow: hidden;
}
.q-tree-code {
    font-size: 12px;
    margin-top: 10px;
}
.q-tree-code ul li {
    margin-right: 2px;
    vertical-align: middle;
    display: inline-block;
}
.q-tree-code ul li:last-child {
    margin-right: 0;
}
.q-tree-code ul li input.inp-code {
    width: 114px;
    font-size: 13px;
    text-align: center;
}
.q-tree-code ul li button.btn-code {
    height: 28px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    font-size: 13px;
    color: #333;
    text-align: center;
    padding: 0 10px;
}
.q-tree-body {
    margin-top: 6px;
}
.depth-menu {
	margin-left: 60px;
	vertical-align: middle;
	display: inline-block;
}
.depth-menu ul li {
	margin-right: 10px;
	display: inline-block;
}
button.btn-menu {
	background-color: #bbb;
	border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
	font-size: 12px;
	color: #fff;
	text-align: center;
	padding: 6px 10px;
}
.r-cont {
	padding: 10px 0;
}
.exam-list-top {
	width: 100%;
	padding: 6px 30px 0 20px;
	text-align: left;
	overflow: hidden;
}
.exam-list-top ul.sort-l {
	width: 1024px;
	padding-top: 10px;
	float: left;
}
.exam-list-top ul.sort-l li {
	position: relative;
	margin-right: 14px;
	display: inline-block;
}
.exam-list-top ul.sort-l li.normal {
	color: #999;
	padding-left: 8px;
}
.exam-list-top ul.sort-l li.normal::before {
	content: "";
	position: absolute;
	top: 4px;
	left: 0;
	width: 5px;
	height: 5px;
	background-color: #bbb;
}
.exam-list-top ul.sort-l li.on {
	color: #008aff;
	padding-left: 16px;
}
.exam-list-top ul.sort-l li.on::before {
	content: "\ed6e";
	font-family: 'icomoon';
	position: absolute;
	top: 0;
	left: 0;
	width: 5px;
	height: 5px;
}
.exam-list-top ul.sort-r {
	float: right;
}
.exam-list-top ul.sort-r li {
	margin-right: 5px;
	vertical-align: middle;
	display: inline-block;
}
.exam-list-top .sort-ico {
	width: 30px;
	height: 26px;
	border: 1px solid #ddd;
	line-height: 24px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
}
.exam-list-top .sort-ico i {
	color: #ccc;
}
.exam-list-top .sort-ico.on {
	border: 1px solid #555;
}
.exam-list-top .sort-ico.on i {
	color: #333;
}
.exam-list-top .sort-ico i.icon-list-unordered {
	font-size: 16px;
}
.tbl-exam {
	padding-top: 6px;
}
table.exam-list {
	width: 100%;
}
table.exam-list th {
	width: auto !important;
	height: 30px;
	background-color: #aaa;
	border: 1px solid #fff;
	font-size: 12px;
	color: #fff;
	line-height: 1.2;
	text-align: center;
	padding: 6px 4px;
}
table.exam-list th.sort-num {
	width: 50px !important;
}
table.exam-list td {
	height: 30px;
	background-color: #ddd;
	border: 1px solid #fff;
	font-size: 12px;
	color: #333;
	text-align: center;
	padding: 6px 4px;
}
table.exam-list tr:nth-child(even) td {
	background-color: #eee;
}
table.exam-list td.txt-red {
	color: #f00;
}
.tbl-exam .tbl_paging {
	margin-top: 20px;
}
.exam-search {
	border-bottom: 1px solid #ddd;
	padding: 10px 10px 10px 20px;
}
.exam-search .search-l {
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 6px 6px 6px 10px;
	margin-right: 6px;
	vertical-align: middle;
	display: inline-block;
}
.exam-search .search-l .checkbox {
	margin-right: 5px;
}
.exam-search .search-l ul li {
	margin-right: 6px;
	display: inline-block;
}
.exam-search .search-l ul li .input-date {
	position: relative;
}
.exam-search .search-l ul li .checkbox label {
	font-size: 11px;
}
.exam-search .search-l ul li .checkbox label::after {
	top:
}
.exam-search .search-btn {
	vertical-align: middle;
	display: inline-block;
}
button.btn-exam-search {
	height: 42px;
	background-color: #999;
	border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
	font-size: 12px;
	color: #fff;
	padding: 0 16px;
	text-align: center;
}
.exam-search .search-l ul li input.inp-search {
	width: 130px;
}
.thumb-body {
	text-align: left;
	margin-left: 12px;
	margin-top: 8px;
}
.thumb-body ul li {
	width: 164px;
	margin: 0 7px 20px;
	float: left;
}
.thumb-body ul li span.thumb-box {
	width: 100%;
	height: 200px;
	background-color: #f5f2f5;
	border: 1px solid #ddd;
	display: block;
}
.thumb-body ul li span.thumb-txt {
	font-size: 12px;
	color: #333;
	margin-top: 8px;
	text-align: center;
	display: block;
}
.thumb-body ul li span.thumb-txt.dim {
	color: #bbb;
	text-decoration: line-through;
}
/*-- 문제등록 --*/
.q-reg {
	width: 1024px;
	border: 1px solid #ddd;
	overflow: hidden;
}
/*-- /문제등록 --*/

/*-- 툴팁 --*/
.tipso_bubble, .tipso_bubble > .tipso_arrow{
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}
.tipso_bubble {
    position: absolute;
	text-align: left;
    background-color: #4b4b4b !important;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
    font-size: 11px;
    line-height: 18px;
	z-index: 9999;
}
.tipso_content {
  	word-wrap: break-word;
    padding: 4px 8px;
	color: #fff !important;
}
.tipso_bubble.right > .tipso_arrow {
	border-right-color: #000;
	border-top-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	top: 50%;
	right: 100%;
	margin-top: -8px;
}

.tipso_bubble .top_right_corner,
.tipso_bubble.top_right_corner {
	border-bottom-left-radius: 0;
}

.tipso_bubble .bottom_right_corner,
.tipso_bubble.bottom_right_corner  {
	border-top-left-radius: 0;
}

.tipso_bubble .top_left_corner,
.tipso_bubble.top_left_corner {
	border-bottom-right-radius: 0;
}

.tipso_bubble .bottom_left_corner,
.tipso_bubble.bottom_left_corner  {
	border-top-right-radius: 0;
}
/*-- /툴팁 --*/
