@charset "utf-8";

* { font-family: 'Noto Sans KR', sans-serif; font-size: 13px; font-weight: 400; line-height: 1; letter-spacing: -0.02em; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
html {
	overflow-y: scroll;
}
html, body { width: 100%; height: 100%;}
body {
	background-color: #fff;
}

/*-- placeholder --*/
::-webkit-input-placeholder {
    color: #999;
}
:-moz-placeholder {
   color: #999;
   opacity:  1;
}
::-moz-placeholder {
   color: #999;
   opacity:  1;
}
:-ms-input-placeholder {
   color: #999;
}
::placeholder {
   color: #999;
   opacity: 1;
}
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { /* WebKit browsers */ color:transparent; }
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ color:transparent; }
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder { /* Mozilla Firefox 19+ */ color:transparent; }
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder { /* Internet Explorer 10+ */ color:transparent; }
/*-- /placeholder --*/

/*-- Input박스 --*/
input[type="text"], input[type="password"] {
	height: 28px;
	background-color: #FFF;
	border: 1px solid #CCC;
	border-radius: 2px;
	font-size: 12px;
	font-weight: normal;
	padding: 0 8px;
	vertical-align: middle;
	outline-width: 0;
}
input[type="text"].input_c, input[type="password"].input_c { text-align: center;}
/*-- /Input박스 --*/

/*-- Radio버튼 --*/
.radio {
  display: inline-block;
}
.radio label {
  position: relative;
  color: #333;
}
.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 11px;
  height: 11px;
  left: 0;
  top: 2px;
  outline: none !important;
  margin-left: -14px;
  border: 1px solid #607d8b;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.5s ease-in-out;
  -o-transition: border 0.5s ease-in-out;
  transition: border 0.5s ease-in-out;
}
.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 7px;
  height: 7px;
  left: 3px;
  top: 5px;
  margin-left: -14px;
  border-radius: 50%;
  background-color: #607d8b;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.radio input[type="radio"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}
/*-- /Radio버튼 --*/

/*-- Check박스 --*/
.checkbox {
  padding-left: 0;
}
.checkbox label {
  position: relative;
  color: #333;
  padding-left: 4px;
  vertical-align: middle;
  cursor: pointer;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 13px;
  height: 13px;
  top: 1px;
  left: 0;
  border: 1px solid #cccccc;
  border-radius: 1px;
  background-color: #fff;
  margin-left: -13px;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 12px;
  height: 12px;
  left: 2px;
  top: 3px;
  font-size: 11px;
  font-weight: normal;
  margin-left: -13px;
}
.checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}
.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: none;
  outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}
.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #FFF;
  border-color: #cccccc;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #37474f;
}
.checkbox-cyan input[type="checkbox"]:checked + label::before {
  background-color: #FFF;
  border-color: #00aeff;
}
.checkbox-cyan input[type="checkbox"]:checked + label::after {
  background-color: #00aeff;
  border-color: #00aeff;
  color: #FFF;
}
/*-- /Check박스 --*/

/*-- Select메뉴 --*/
select {
  height: 28px;
  font-size: 12px;
  color: #444;
  border:#CCC solid 1px;
  border-radius: 2px;
  padding: 0 25px 0 10px;
  background:url(/images/common/select_arrow.gif) no-repeat 92% 50%;
  background-color: #FFF;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: middle;
  outline-width: 0;
}
select::-ms-expand {
  display: none;
}
/*-- /Select메뉴 --*/

/*-- 파일첨부 --*/
.file_input label {
    position:relative;
    cursor:pointer;
    display:inline-block;
    vertical-align:middle;
    overflow:hidden;
    height:28px;
    background:#e6e6e6;
	border:#CCC solid 1px;
	border-radius: 2px;
	font-size:11px;
    color: #333;
	font-weight: normal;
    text-align:center;
    line-height:24px;
	margin-right:2px;
	padding:0 9px;
	transition: all 0.2s linear;
}
.file_input label:hover {
    background:#d6d6d6;
	transition: all 0.2s linear;
}
.file_input label input {
    position:absolute;
    width:0;
    height:0;
    overflow:hidden;
}
.file_input input[type=text] {
    vertical-align:middle;
    display:inline-block;
    width: auto;
    height: 28px;
	font-size: 12px;
	color: #999;
    line-height: 24px;
    padding: 0 0 0 8px;
    border:1px solid #c4c4c4;
}
/*-- /파일첨부 --*/

/*-- 공통 --*/
.w-80 {
	width: 80px;
}
input.inp50 {
	width: 50px;
}
button.btn-default {
	transition: all 0.2s linear;
	cursor: pointer;
}
.mag_top20 {
	margin-top: 20px;
}
.mag_top30 {
	margin-top: 30px;
}
.mag_top40 {
	margin-top: 40px;
}
.mag_top50 {
	margin-top: 50px;
}
.mag_l5 {
	margin-left: 5px;
}
.mag_r5 {
	margin-right: 5px;
}
.magTop5 { margin-top: 5px !important;}
.magTop10 { margin-top: 10px !important;}
.magTop15 { margin-top: 15px !important;}
.magTop20 { margin-top: 20px !important;}
.magTop30 { margin-top: 30px !important;}
.magTop40 { margin-top: 40px !important;}
.magTop50 { margin-top: 50px !important;}
.magBtm5 { margin-bottom: 5px !important;}
.magBtm10 { margin-bottom: 10px !important;}
.magBtm20 { margin-bottom: 20px !important;}
.magL5 { margin-left: 5px !important;}
.magL10 { margin-left: 10px !important;}
.magL20 { margin-left: 20px !important;}
.magL40 { margin-left: 40px !important;}
.magR10 { margin-right: 10px !important;}
.magR20 { margin-right: 20px !important;}
.dsp_none { display: none !important;}
.padtop30 { padding-top: 30px !important;}
.txt-c { text-align: center;}
/*-- /공통 --*/

/*-- layout --*/
.wrap {
	 position: relative;
	 width: 100%;
	 background-color: #FFF;
	 min-width: 1540px;
	 height: auto !important;
	 height:100%;
	 min-height:100%;
	 vertical-align: top;
	 overflow: hidden;
}
.header {
	height: 50px;
	background-color: #37474f;
	padding: 0 15px;
}
.header .logo {
	width: 220px;
	padding-top: 12px;
	text-align: center;
	float: left;
}
.page-container {
	position: relative;
	width: 100%;
	display: table;
	table-layout: fixed;
}
.page-content {
	display: table-row;
}
/*-- GNB --*/
#gnb {
	width:65%;
	height:50px;
	position:relative; /* 포지션의 기준점을 잡습니다. */
	float: left;
	z-index: 1;
}
#nav {
	position:absolute; /* header를 기준으로 하단에 위치시킵니다. */
	left: 20px;
	top: 0;
}
#nav ul, #nav li {
	margin:0;
	padding:0;
}
#nav li {
	position:relative;
	list-style:none;
	float:left;
	margin-right: 60px;
}
#nav li:last-child {
	margin-right: 0;
}
#nav a {
	display:block;
	padding: 1em 2em;
	font-size: 16px;
	font-weight: 400;
	text-decoration:none;
}
#nav li ul {
	position:absolute;
	top: 48px;
	width: 300px;
	display:none; /* li의 자식인 ul을 숨겨둡니다. */
}
#nav li.on ul {
	display:block; /* 활성화된 li의 자식인 ul만 보여줍니다. */
}
/* color */
#nav ul li a { color:rgba(255,255,255,0.5);}
#nav .on a { color:#fff;}
#nav ul.snb a { font-size: 13px; color:#333; padding: 14px 10px 0 0;}
#nav ul.snb a:hover {
	color:#008d6d;
}
#nav ul.snb.smenu3 {
	width: 800px;
	padding-left: 30px;
}
#nav ul.snb.smenu5 {
	width: 300px;
	right: 0;
	padding-left: 88px;
}
#nav ul.snb li {
	position: relative;
	padding-left: 10px;
	margin: 0;
}
#nav ul.snb li:first-child::before {
	display: none;
}
#nav ul.snb li::before {
	content: "";
	position: absolute;
	top: 14px;
	left: 0;
	width: 1px;
	height: 14px;
	background-color: #aaa;
}
/*-- /GNB --*/
.top_r {
	float: right;
}
.top_sms {
	height: 50px;
	border-left: 1px solid #222f35;
	border-right: 1px solid #222f35;
	padding: 5px 10px 0 10px;
	display: inline-block;
	vertical-align: top;
}
.top_sms ul li {
	margin: 0 3px;
	text-align: center;
	display: inline-block;
}
.top_sms p {
	font-size: 12px;
	color: #ccc;
	margin-bottom: 3px;
}
.top_sms span {
	min-width: 50px;
	background-color: #3e931e;
	border-radius: 25px;
	font-family: "Nanum Gothic", NanumGothic, "나눔고딕", sans-serif;
	font-size: 11px;
	color: #fff;
	font-weight: 400;
	text-align: center;
	padding: 4px 6px;
	margin-top: 4px;
	display: block;
}
.top_profile {
	display: inline-block;
}
.top_profile .navbar-right {
	padding-top: 5px;
}
.top_profile .user_name {
	font-size: 12px;
	color: #fff;
}
.top_profile .caret {
	color: #fff;
	margin-top: 0;
}
.top_profile .navbar-nav > li > .dropdown-menu {
	margin-top: -4px !important;
}
/*-- /layout --*/

/* 컨텐츠body st */
.content_wrap {
	width: 100%;
	vertical-align: top;
	display: table-cell;
}
.page_top {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	padding: 10px 20px;
}
.page_top .cont_titl {
	font-size: 18px;
	color: #333;
	font-weight: 500;
	text-align: left;
}
.page_top .cont_titl i {
	font-size: 16px;
}
.page_top .stt_normal {
	font-size: 16px;
	font-weight: 400;
}
/* 컨텐츠body ed */

/*-- 좌측영역 Toggle --*/
/*- 햄버거 버튼 -*/
.hamburger {
  position: absolute;
  top: 4px;
  z-index: 5;
  display: block;
  width: 28px;
  height: 28px;
  margin-left: -14px;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 50%;
  font-family: 'icomoon';
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: "\e9cb";
  display: block;
  font-size: 18px;
  color: #222;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(4px,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed {
	margin-left: 5px;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: "\e9c8";
  display: block;
  font-size: 18px;
  color: #222;
  font-weight: 600;
  line-height: 26px;
  text-align: center;
  margin-right: 2px;
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-4px,0,0);
  -webkit-transition: all .35s ease-in-out;
}
/*- /햄버거 버튼 -*/

.navbar-fixed-top, .navbar-fixed-bottom {
	position: absolute;
}
.col-lg-offset-2 {
	margin-left: 0;
}
.navbar-inverse {
	border: none;
}
.toggle_wrap {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	padding-bottom: 5%;
}
.toggle_wrap.toggled {
    padding-left: 260px;
}
.toggle_wrap:after {
  content: '';
  display: block;
  clear: both;
}
#sidebar-wrapper {
    z-index: 2;
    left: 0;
    width: 0;
    height: 100%;
    margin-left: 0;
    overflow: hidden;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	border-right: 1px solid #ccc;
}
#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}
.toggle_wrap.toggled #sidebar-wrapper {
    width: 260px;
}
#page-content-wrapper {
	position: relative;
}
.toggle_wrap.toggled #page-content-wrapper {
	position: relative;
}
/*-- /좌측영역 Toggle --*/

/* 페이징 */
.paging_inner { width:100%; text-align:center; overflow:hidden;}
.paging { display:inline-block; padding-left:0; margin: 0; border-radius:3px;}
.paging>li { display:inline;}
.paging>li>a, .paging>li>span { width: 28px; position:relative; font-family:Arial, Helvetica, sans-serif; float:left; padding: 4px 2px; margin-left:-1px; line-height:1.5; font-size: 12px; color:#333333; text-decoration:none; background-color:#fff; border:1px solid #ddd;}
.paging>li:first-child>a,.paging>li:first-child>span { margin-left:0; border-top-left-radius:3px; border-bottom-left-radius:3px;}
.paging>li:last-child>a,.paging>li:last-child>span { border-top-right-radius:3px; border-bottom-right-radius:3px;}
.paging>li>a:focus,.paging>li>a:hover,.paging>li>span:focus,.paging>li>span:hover {z-index:3; color:#333; background-color:#f5f5f5; border-color:#ddd;}
.paging>.active>a,.paging>.active>a:focus,.paging>.active>a:hover,.paging>.active>span,.paging>.active>span:focus,.paging>.active>span:hover{ z-index:4; color:#fff; cursor:default; background-color:#717171; border-color:#717171;}
.paging>.disabled>a,.paging>.disabled>a:focus,.paging>.disabled>a:hover,.paging>.disabled>span,.paging>.disabled>span:focus,.paging>.disabled>span:hover{ color:#bbb; cursor:not-allowed; background-color: transparent; border-color:#ddd;}
/*-- 데이터테이블 --*/
.dataTable {
	border-collapse: collapse !important;
}
.dataTable thead .sort-hide {
	padding-right: 4px !important;
}
.dataTable thead .sort-hide:after {
	display: none !important;
}
.col-5 {
	width: 5%;
}
.sorting_asc::before {
	display: none;
}
.dataTable thead .sorting, .dataTable thead .sorting_asc, .dataTable thead .sorting_desc, .dataTable thead .sorting_asc_disabled, .dataTable thead .sorting_desc_disabled {
	padding-right: 20px !important;
}
.dataTable thead .sorting:before, .dataTable thead .sorting:after, .dataTable thead .sorting_asc:after, .dataTable thead .sorting_desc:after, .dataTable thead .sorting_asc_disabled:after, .dataTable thead .sorting_desc_disabled:after {
	right: 8px !important;
}
.datatable-header,.datatable-footer {
	display: none;
}
/*-- /데이터테이블 --*/
