.login_wrap {
	width: 100%;
	min-width: 840px;
	height: 100%;
	background: url("/images/sadm/login/login_bg.jpg") no-repeat center;
	background-size: cover;
	text-align: center;
	display: table;
}
.login_container {
	width: 840px;
	height: 380px;
	margin: 0 auto;
	vertical-align: middle;
	display: table-cell;
}
.login_l {
	width: 45%;
	vertical-align: top;
	padding: 100px 0 0 0;
	display: inline-block;
}
.login_c {
	width: 1px;
	height: 380px;
	background-color: rgba(255, 255, 255,0.2);
	display: inline-block;
}
.login_r {
	width: 45%;
	vertical-align: top;
	padding-top: 40px;
	display: inline-block;
}
.login_l .login_txt1 {
	font-size: 16px;
	color: #fff;
	font-weight: 300;
	letter-spacing: 0.02em;
	margin-top: 40px;
	text-align: center;
}
.login_l .login_txt2 {
	font-size: 30px;
	color: #fff;
	font-weight: 300;
	margin-top: 3px;
	text-align: center;
}
.login_l_inner {
	width: 310px;
	margin-right: 70px;
	float: right;
}
.login_r_inner {
	width: 250px;
	margin-left: 120px;
}
.login_r .login_r_tt {
	text-align: center;
	padding-right: 10px;
}
.login_r .login_r_tt .r_tt_l {
	font-size: 15px;
	color: #fff;
	font-weight: 300;
	text-align: right;
	margin-right: 8px;
	vertical-align: middle;
	display: inline-block;
}
.login_r .login_r_tt .r_tt_r {
	margin-left: 8px;
	vertical-align: middle;
	display: inline-block;
}
.login_r .login_r_input {
	margin-top: 30px;
}
.login_r .login_r_input .r_inp_id {
	width: 100%;
	height: 42px;
	background-color: #e8f0fe;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	margin-bottom: 20px;
}
.login_r .login_r_input .r_inp_id input {
	width: 100%;
	font-size: 16px;
	padding: 5px 0 0 15px;
	background-color: #e8f0fe;
}
.login_r .login_r_input .r_inp_id input::placeholder { font-size: 12px; letter-spacing: 0.01em;}
.login_r .login_r_input .r_inp_id .inp_id_ico {
	width: 38px;
	height: 28px;
	border-right: 1px solid #999;
	vertical-align: middle;
	text-align: left;
	padding: 3px 0 0 5px;
	margin-top: 6px;
	display: inline-block;
}
.login_r .login_r_input .r_inp_id .inp_id_pw {
	width: 38px;
	height: 28px;
	border-right: 1px solid #999;
	vertical-align: middle;
	text-align: left;
	padding: 2px 0 0 5px;
	margin-top: 6px;
	display: inline-block;
}
.login_r .login_r_input .r_inp_id .inp_id_box {
	width: 190px;
	vertical-align: middle;
	display: inline-block;
}
.login_r .login_r_input .r_inp_id .inp_id_box input {
    border: none;
}
button.loing_btn {
	width: 100%;
	background-color: #009a9a;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	font-size: 18px;
	color: #fff;
	text-align: center;
	padding: 14px 0;
	margin-top: 20px;
	transition:all 0.2s linear;
    letter-spacing: 0.05em;
}
button.loing_btn:hover {
	background-color: #008787;
}
